.accolade {
  width: 50%;
  padding-left: 2em;
  padding-right: 2em;
}

@media screen and (max-width: 991px) {
  .Accolades {
    flex-direction: column;
  }

  .accolade {
    width: 100%;
    padding: 1em
  }
}
