/* .Services {
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  max-width: 100vw;
}

.service-section {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.service-section > div {
  padding: 3em;
}

.service-section > div > p {
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 1em;
}

.service-section img {
  width: 50%;
  padding: 1em;
  object-fit: contain;
}

.section2 {
  display: flex;
  justify-content: space-evenly;
  color: var(--color-primary);
  background-color: var(--color-tertiary);
  width: 100vw;
}

.Services > div {
  padding: 2.5em;
}

.service-list {
  list-style: inside;
}

.service-list > li {
  font-weight: 300;
}

@media screen and (max-width: 991px) {
  .Services {
    flex-direction: column;
  }

  .service-list {
    margin-left: 2em;
  }

  .Services > div:first-child > h2 {
    font-size: 2rem;
  }

  .Services > div {
    width: 100vw;
  }

  .service-section img {
    width: 100%;
    padding: 1em;
    object-fit: contain;
  }

  .service-section {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
} */
