.Gutters {
  justify-content: center;
}

.Gutters>img {
  max-width: 70vw;
  border-radius: 5px;
  margin-bottom: 5em;
}

@media screen and (max-width: 991px) {

  .Gutters {
    margin-top: 18em;
  }

  .Gutters>img {
    max-width: 90vw;
  }

}
