.Financing {
  justify-content: center;
}

.Financing > img {
  padding: 2em;
  border-radius: 5px;
  background-color: var(--color-primary);
  max-width: 80vw;
}

@media screen and (max-width: 991px) {

  .Financing {
    margin-top: 18em;
  }

  .Financing > img{
    max-width: 90vw;
  }

}