.Inspection {
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
}

.inspection-list {
  list-style: inside;
}

.inspection-list > li {
  font-weight: 300;
}

@media screen and (max-width: 991px) {
  .Inspection {
    flex-direction:column-reverse;
  }

  .inspection-list-container {
    margin-top: 2em;
    flex-direction: row;
    width: 80%
  }

  .inspection-list {
    margin-left: 2em;
  }

  .Inspection > p {
    width: 80%
  }
}