.Services {
  justify-content: space-around;
  align-items: center;
}

.service-list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.service-list {
  list-style: inside;
}

.service-list > li {
  font-weight: 300;
}

@media screen and (max-width: 991px) {
  .Services {
    flex-direction: column;
  }

  .service-list-container {
    margin-top: 2em;
    flex-direction: row;
    width: 75%
  }

  .service-list {
    margin-left: 2em;
  }

  .column-title {
    margin-right: 2em
  }

  .Services > p {
    width: 80%
  }
}
