.Services {
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  padding-bottom: 10rem;
}

.Services > div:first-child {
  flex: 1;
  border-radius: 5px;
  background-color: var(--color-primary);
  /* max-width: 50%; */
  padding: 2.5em;
}

.Services > div > p {
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 1em;
}

.service-list-container {
  margin-right: 8em;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.service-list {
  list-style: inside;
}

.service-list > li {
  font-weight: 300;
}

@media screen and (max-width: 991px) {
  .Services {
    flex-direction: column-reverse;
  }

  .service-list-container {
    margin-right: 0;
    margin-bottom: 2em;
    flex-direction: row;
  }

  .service-list {
    margin-left: 2em;
  }
  .Services > div:first-child {
    max-width: auto;
    width: auto;
  }

  .Services > div {
    width: auto;
  }
}
