.Services {
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  padding-bottom: 10rem;
}

.Services > div {
  min-width: 80vw;
  border-radius: 5px;
}

.Services > div:first-child {
  background-color: var(--color-primary);
  max-width: 50%;
  padding: 1.5em;
}

.Services > div > p {
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 1em;
}

.service-list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.service-list {
  list-style: inside;
}

.service-list > li {
  font-weight: 300;
}

@media screen and (max-width: 991px) {
  .Services {
    flex-direction: column;
  }

  .service-list-container {
    margin-top: 2em;
    flex-direction: row;
    width: 85%
  }

  .service-list {
    margin-left: 2em;
  }

  .column-title {
    margin-right: 2em
  }

  .Services > p {
    width: 80%
  }
}
