.App {
  min-height: 100vh;
  min-width: 100%;
  /* overflow-x: hidden; */
}

.icon {
  width: 2.1em;
}

@media screen and (max-width: 991px) {
  .icon {
    width: 2em;
  }

  body {
    font-size: 0.5em;
  }

}