main > section {
  padding: 3em 0;
  min-height: 10em;
  display: flex;
  min-width: 100%;
  scroll-margin-top: 10rem;
}

main > section:nth-child(odd) {
  background: var(--color-primary);
}

main > section:nth-child(even) {
  background: transparent;
}

main > section .icon {
  width: 2.8rem;
}

.mp-title {
  font-weight: 600;
  font-size: 4.5rem;
  margin: 0;
  max-width: 43%;
  min-width: 582px;
}

.mp-title > span {
  display: inline-block;
}

.mp-content-title {
  font-weight: 400;
  font-size: 2.5rem;
}

.mp-content-container {
  border-radius: 5px;
  background-color: var(--color-tertiary);
  color: var(--text-secondary);
  font-weight: 300;
  padding: 2.5em;
}

.mp-content-text {
  font-size: 1.4em;
  line-height: 1.2;
}

.column-title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.5em;
}

.column-title img {
  padding: 0.4em 0;
}
