.Accolades {
  justify-content: space-around;
  align-items: center;
}

.accolades-container {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.accolades-list {
  display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 1em;
}

.accolade {
  width: 5em;
}
