.Accolades {
  justify-content: space-around;
  align-items: flex-start;
}

.accolades-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

.accolades-list {
  display: grid;
  align-items: center;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 1em;
}

.accolade {
  width: 6em;
}

.accolade-title {
  display: flex;
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 2em;
  max-width: 43%;
  min-width: 582px;
}

@media screen and (max-width: 991px) {
  .Accolades {
    flex-direction: column-reverse;
    align-items: center;
  }

  .accolades-container {
    max-width: none;
    margin-top: 2em;
    width: 75%;
  }

  /* .accolade-title {
    max-width: 50%;
  } */

  .column-title {
    margin: 0;
  }

  .accolades-list {
    margin-top: 2em
  }

  .Accolades > p {
    padding: 0 1em;
    min-width: 90vw;
    font-size: 1.2rem;
    align-self: flex-start;
  }
}
