header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0px 0px 11px 1px #00000059;
  max-height: 10rem;
}

.page-buttons {
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  box-shadow: 0px 3px 2px -2px var(--color-primary);
}

.page-buttons-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
}

.contact-info {
  text-decoration: none;
} 

@media screen and (max-width: 991px) {
  header {
    min-width: auto;
    font-size: 1.2em;
  }

  .page-buttons-list {
    margin-top: 2em;
    margin-left: 1em;
    width: 80%;
    flex-wrap: wrap;
  }

  .page-buttons-list>button {
    padding: 0;
    margin-right: 1rem;
  }
  
}