footer {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  center 0 / cover no-repeat fixed url('../../assets/images/rooftops.jpg');
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.5em;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 5em;
}