/* .Testimonials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Testimonials > p {
  min-width: auto;
  margin-bottom: 1em;
}

.testimonial-list {
  padding-left: 3em;
  padding-right: 3em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2em;
} */

@media screen and (max-width: 991px) {
  .testimonial-list {
    grid-template-columns: none;
    row-gap: 2em;
  }
  
}