.testimonial {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
}

.testimonial > p {
  margin-top: 2em;
}

.testimonial-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial-title > img {
  margin-bottom: 2em;
  /* color: var(--color-secondary); */
}

.testimonial-title > h3 {
  font-weight: 700;
  font-size: 1.5em;
  color: var(--color-primary);
}
