:root {
  /* --color-primary: #08253d; */
  /* matched color from logo 👇 */
  --color-primary: #062841;
  --color-secondary: #c9a32c;
  --color-tertiary: whitesmoke;
  --text-primary: white;
  --text-secondary: black;
  --font-family: 'Raleway', sans-serif;
}

.gold {
  color: var(--color-secondary);
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  color: var(--text-primary);
  font-feature-settings: 'lnum' 1;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    center 0 / cover no-repeat fixed url('./assets/images/rooftops.jpg');
}

body * {
  box-sizing: border-box;
}

button {
  font-family: var(--font-family);
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  color: var(--text-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none !important;
}

.page-content {
  margin-top: 10rem;
  padding-bottom: 10rem;
}

.page-single {
  display: flex;
  padding: 3rem;
}
