:root {
  --color-primary: #08253d;
  --color-secondary: #c9a32c;
  --text-primary: white;
  --text-secondary: black;
  --font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  min-height: 100vh;
  color: var(--text-primary);
  font-feature-settings: 'lnum' 1;
}

button {
  font-family: var(--font-family);
  cursor: pointer;
  border: none;
}
