:root {
  --color-primary: #08253d;
  --color-secondary: #c9a32c;
  --color-tertiary: whitesmoke;
  --text-primary: white;
  --text-secondary: black;
  --font-family: 'Raleway', sans-serif;
}

.gold {
  color: var(--color-secondary);
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--text-primary);
  font-feature-settings: 'lnum' 1;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    center 0 / cover no-repeat fixed url('./assets/images/rooftops.jpg');
}

button {
  font-family: var(--font-family);
  cursor: pointer;
  border: none;
}
