.video-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.drone-video {
  max-width: 600px;
}

.Rooftops {
  justify-content: space-around;
  padding-bottom: 8em;
}

@media screen and (max-width: 991px) {
  .Rooftops {
    flex-direction: column-reverse;
    max-width: 60%;
    margin-top: 0;
  }

  .drone-video {
    max-width: 100%;
  }

  .Rooftops > p {
    font-size: 5em;
    padding: 2em 0 2em 0;
    margin: 0;
  }

}