.Partners {
  justify-content: center;
}

.Partners > img {
  max-width: 70vw;
  border-radius: 5px;
  margin-bottom: 5em;
}

@media screen and (max-width: 991px) {

  body {
    min-height: calc(100vh - 10rem);
  }

  .App {
    min-height: unset;
  }

  .Partners {
    margin-top: 20em;
  }

  .Partners > img {
    max-width: 90vw;
  }
}
