.headerButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-primary);
  font-size: 1em;
  position: relative;
}

.headerButton > img {
  width: 2em;
  padding-right: 1em;
}

.low-button {
  background: transparent;
  color: var(--color-secondary);
}

.low-button > p {
  border-bottom: 1px solid var(--color-secondary);
  margin-left: .5em;
  width: max-content;
}

.high-button:after {
  content: '';
  display: block;
  border-bottom: 1px solid;
  width: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  transition: 0.2s ease-out;
}

.high-button:hover:after {
  width: 100%;
  transition: 0.2s ease-out;
}

@media  screen and (max-width: 600px) {

  .low-button > p {
    display: none;
  }

}

@media  screen and (max-width: 900px) {

  .headerButton {
    padding: 8px 0 8px 0;
  }

}
